.calcolatrice {
    height: 100vh;
    background-color: rgb(42, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
}

button {
    border: none;
    background-color:rgb(59, 178, 252);
    color: white;
    padding: 3vh;
    margin: 2vh;
    cursor: pointer;
}

button:hover {
    background-color:white;
    color: rgb(59, 178, 252);
}

.contenitore {
    border: 2px solid rgb(59, 178, 252);
    padding: 10vh;
    border-radius: 3vh;
}

.bianco {
    height: 8vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bolder;
}